@use '../abstracts/index' as *;

.introduction {
  flex-direction: column;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(550);
    margin-right: to-rem(90);
  }
}

.perex {
  color: $dark-graysih-magenta;
  text-align: center;
  margin-bottom: 14px;

  @media only screen and (min-width: $desktop-layout) {
    text-align: left;
    margin-right: to-rem(90);
  }
}