@use "../abstracts/index" as *;

.rating-wrapper {
  flex-direction: column;
  align-items: center;
  max-width: to-rem(375);
  width: 100%;
  background-color: $light-grayish-magenta;
  margin: to-rem(10) 0;
  border-radius: to-rem(10);

  @media only screen and (min-width: $desktop-layout) {
    flex-direction: row;
    max-width: to-rem(1440);
    padding: to-rem(10) 0;
    justify-content: space-evenly;
    &:nth-child(1) {
      margin-right: to-rem(80);
    }

    &:nth-child(2) {
      margin-right: to-rem(40);
    }
  }
}

.ratings {
  flex-direction: column;
  align-items: center;
  max-width: to-rem(375);
  width: 100%;
  font-size: $base-font-size * 0.75;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(1440);
    justify-content: space-around;
  }
}

.ratingStars {
  margin: 0;
}

.star-icon {
  text-align: center;
  display: inline-block;
  margin: to-rem(15) 0 0 0;
  width: 17px;
  height: 16px;

  @media only screen and (min-width: $desktop-layout) {
    margin: 0;
  }
}

p {
  color: $very-dark-magenta;
  font-weight: $weight-bold;
  font-size: $base-font-size * 1.1;
  margin-top: 0;

  @media only screen and (min-width: $desktop-layout) {
    margin: 0;
  }
}
