@use '../abstracts/index' as *;

.reviews {
  flex-direction: column;

  @media only screen and (min-width: $desktop-layout) {
    max-width: to-rem(1440);
    flex-direction: row;
    align-items: flex-start;
  }
}

.customers {
  margin: to-rem(10) 0 to-rem(10) 0;
  border-radius: to-rem(10);
  flex-direction: column;
  background-color: $very-dark-magenta;

    @media only screen and (min-width: $desktop-layout) {
      margin: to-rem(15) to-rem(15) to-rem(15) 0;
      &:nth-child(2) {
        margin: to-rem(30) 0 0 0;
      }
      &:nth-child(3) {
        margin: to-rem(45) 0 0 to-rem(10);
      }
    }
  }

.customers-header {
  flex-direction: row;
  align-items: center;
}

div {
  margin: to-rem(15) 0 0 0;
}

img {
  display: block;
  border-radius: 50%;
  margin: to-rem(30) to-rem(15) 0 to-rem(30);
  width: to-rem(45);
  height: to-rem(45);
}

h2 {
  color: $white;
  font-weight: $weight-medium;
  font-size: $base-font-size;
  margin-bottom: 0;
}
    
.verified-buyer {
  color: $soft-pink;
  margin: 0;
}

.feedback {
  color: $white;
  padding: 0 to-rem(30) 0 to-rem(30);
}