@use "components/social_proof_section" as *;

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  align-items: center;
  min-height: 100vh;
  font-family: $font-primary;
  font-weight: $weight-normal;
  line-height: 1.5;
  font-size: $base-font-size;
  padding: 2rem;
}

h1 {
  color: $veryDarkMagenta;
  text-align: center;
  font-size: $base-font-size * 2.5;
  line-height: 1;
  font-weight: $weight-bold;
  margin-bottom: 0;
  @media only screen and (min-width: $desktopLayout) {
    text-align: left;
  }
}

.headAndRatingsContainer {
  max-width: toRem(375);
  width: 100%;
  flex-direction: column;

  @media only screen and (min-width: $desktopLayout) {
    max-width: toRem(900);
    flex-direction: row;
  }
  .introduction {
    flex-direction: column;

    @media only screen and (min-width: $desktopLayout) {
      max-width: toRem(450);
    }
    .perex {
      color: $darkGrayishMagenta;
      text-align: center;
      margin-bottom: 14px;

      @media only screen and (min-width: $desktopLayout) {
        text-align: left;
      }
    }
  }

  .ratings {
    flex-direction: column;
    align-items: center;
    max-width: toRem(375);
    width: 100%;
    font-size: $base-font-size * 0.75;
    
    @media only screen and (min-width: $desktopLayout) {
      max-width: toRem(900);
      justify-content: space-around;
    }

    .ratingWrapper {
      flex-direction: column;
      align-items: center;
      max-width: toRem(375);
      width: 100%;
      
      @media only screen and (min-width: $desktopLayout) {
        max-width: toRem(900);
        flex-direction: row;
        justify-content: space-evenly;

        &:nth-child(2) {
          margin-left: toRem(90);
        }
        &:nth-child(3) {
          margin-left: toRem(120);
        }
      }

    }
    h2 {
      color: $veryDarkMagenta;
      font-weight: $weight-medium;
      margin-top: 0;

      @media only screen and (min-width: $desktopLayout) {
        margin: 0;
      }
    }
    img {
      text-align: center;
      margin-top: toRem(15);

      @media only screen and (min-width: $desktopLayout) {
        margin: 0;
      }
    }
  }
}

.reviews {
  flex-direction: column;

  @media only screen and (min-width: $desktopLayout) {
    max-width: toRem(900);
    flex-direction: row;
    align-items: flex-start;
  }

  .customers {
    margin: toRem(10) 0 toRem(10) 0;
    border-radius: toRem(10);
    flex-direction: column;
    background-color: $veryDarkMagenta;

    @media only screen and (min-width: $desktopLayout) {
      margin: toRem(15) toRem(15) toRem(15) 0;
      &:nth-child(2) {
        margin-top: toRem(30);
      }
      &:nth-child(3) {
        margin-top: toRem(45);
      }
    }
    .customersHeader {
      flex-direction: row;
      align-items: center;
      div {
        margin: toRem(15) 0 0 0;
      }
      img {
        display: block;
        border-radius: 50%;
        margin: toRem(30) toRem(15) 0 toRem(30);
        width: toRem(45);
        height: toRem(45);
      }
      h2 {
        color: $white;
        font-weight: $weight-medium;
        font-size: $base-font-size;
        margin-bottom: 0;
      }
    }
    .verifiedBuyer {
      color: $softPink;
      margin: 0;
    }
    .feedback {
      color: $white;
      padding: 0 toRem(30) 0 toRem(30);
    }
  }
}
